* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.front-face,
.back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: abosolute;
    border-radius: 5px;
}