/* target all ids that begin with meme" */
#meme{
    position: relative;
}

#top-center{
    position:absolute;
    top: 5px;
    right: 5px;
}
#bottom-center{
    position: absolute;
    bottom: 5px;
    right: 5px;
}