#meme{
    position: relative;
    text-align: center;
    float: left;
}

#top-center{
    position:absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:30%;
    top: 15px;
    width: 100%
}
#bottom-center{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30%;
    bottom: 15px;
    width: 100%;
}