/* Font styling */

body {
    font-family: 'Roboto';font-size: 25px;
}

h1{
    text-align: center;
}

p {
    font-style: italic;
}
/* Input Form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=URL], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: 'Roboto';
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}
  
button:hover{
    background-color: #45a049;  
}

#input_form{
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 40px;
}

/* Meme Div Container */

#meme-container{
    padding: 40px;
}

/* Individual Meme Divs */

#meme{
    position: relative;
    text-align: center;
    float: left;
}

/* Gray out on hover */
#meme:after {
    display: inline-block;
    content: "\00d7";
    color: white;
    position: absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#meme:hover:after {
    opacity:1;
}

/* Meme Top Text */
#top-center{
    position:absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:50px;
    top: 0px;
    width: 100%
}

/* Meme Bottom Text */
#bottom-center{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 50px;
    bottom: 0px;
    width: 100%;
}